body {
    background: #f5f5f5;
    color: #455A64;
    font-family: Arial;
    margin: 0;
}

.menu {
    background: white;
}

a {
    color: #455A64;
    text-decoration: none;
}

button {
    outline: none;
}

.sub_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    padding: 10px 0;
    margin: auto;
}

.logo_block {
    display: flex;
    align-items: center;
}

.logo {
    width: 40px;
    height: 40px;
    background: url(/img/elements/logo.png) no-repeat center;
    background-size: 80%;
    border: 5px solid #DD2C00;
}

.logo_text {
    display: flex;
    align-items: center;
    height: 50px;
    font-weight: bold;
    font-size: 16px;
    background: #DD2C00;
    color: white;
    padding: 0 20px;
    padding-left: 15px;
}

.menu_list ul a li {
    display: inline;
    padding: 10px 15px;
    background-color: #f4f4f4;
    margin-left: 20px;
}

.menu_list ul a li:hover {
    background: #455A64;
    color: white;
}

.first_block {
    width: 100%;
    height: 600px;
    background: url(../img/elements/bg.jpg) no-repeat center;
    background-size: cover;
}

.on_first_block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
    background: rgba(0, 0, 0, 0.4);
}

.first_block_text {
    width: 1000px;
    font-weight: bold;
    font-size: 40px;
    color: white;
}

.first_block_text div a button {
    background: #DD2C00;
    font-size: 18px;
    font-weight: bold;
    border: 0;
    padding: 15px 20px;
    color: white;
    margin-top: 80px;
    cursor: pointer;
}

.cars_block {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    margin: 30px auto;
}

.img_car_block {
    width: 270px;
    padding: 20px;
    background: white;
    text-align: center;
}

.img_car{
    width: 100%;
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.car_title {
    margin-top:30px;
    font-size: 26px;
    font-weight: bold;
}

.product_block {
    padding: 20px;
    background: white;
}

.filter {
    width: 300px;
}

.products {
    width: 600px;
}

.product_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    margin-top: 20px;
}

.product_list:first-child {
    margin-top: 0;
}

.product_img{
    width: 80px;
    height: 80px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.product_list div button {
    border: 0;
    background: #DD2C00;
    color: white;
    padding: 10px;
}

.product_title {
    font-size: 26px;
    font-weight: bold;
}

.filter div{
    margin-top: 20px;
}

.filter div:first-child{
    margin-top: 0;
}

.et {
    margin: auto;
}